!!!5
%html{ :lang=>'en' }
  %head
    %meta{ :charset=>'UTF-8' }
    - if page.output_path.index('/news/') == 0
      %title Netty.news: #{page.title}
    - if page.output_path.index('/wiki/') == 0
      %title Netty.docs: #{page.title}
    - else
      %title T.motd.kr: #{page.title}
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    :ruby
      if !site.real_base_url
        site.real_base_url = site.base_url
      end

      # Make base_url relative so that we don't even need to run Awestruct HTTP server to browse the generated pages.
      page.output_path_depth = page.output_path.count('/\\') - 1;
      if page.output_path_depth == 0
        site.base_url = '.'
      else
        site.base_url = '../' * (page.output_path_depth - 1) + '..'
      end
    %link{ :rel=>'shortcut icon', :href=>"#{site.base_url}/images/favicon.ico" }
    %link{ :rel=>'alternate', :type=>'application/rss+xml', :title=>'News Feed', :href=>'http://feeds.feedburner.com/trustin' }
    :css
      body {
        padding-top: 60px;
      }

    -# Bootstrap et al
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.no-icons.min.css', :media=>'screen' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.2/css/font-awesome.min.css', :media=>'screen' }
    %script{ :type=>'text/javascript', :src=>'http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js' }
    %script{ :type=>'text/javascript', :src=>'http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/js/bootstrap.min.js' }

    -# Galleria
    %script{ :type=>'text/javascript', :src=>'http://cdnjs.cloudflare.com/ajax/libs/galleria/1.2.9/galleria.min.js' }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/lib/galleria/themes/folio/galleria.folio.min.js" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/lib/galleria/themes/folio/galleria.folio.css" }

    -# SyntaxHighlighter
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/lib/sh/scripts/shCore.js" }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/lib/sh/scripts/shBrushXml.js" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/lib/sh/styles/shCore.css" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/lib/sh/styles/shThemeDefault.css" }

    -# Site-specific stuff
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/lib/common.css" }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/lib/common.js" }

    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js' }
  %body
    .container
      .content.instapaper_body
        ~ content
      %hr
      %footer
        %p 
          Copyright &copy; #{Date.today.year} 
          %a{ :href=>"#{site.base_url}/index.html"} Trustin Heuiseung Lee
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/lib/common.footer.js" }

